/VERA-MODULE-RBL.kicad_pcb-bak
/fp-info-cache
*.zip
/VERA-MODULE-RBL-backups/
*.kicad_pcb.backup_*
*.csv.backup_*
*cleanup_report_*.txt
/firmware/MCU/6502/pbi-driver.bin
/firmware/MCU/6502/pbi-driver.h
/firmware/MCU/6502/pbi-driver.l
/firmware/MCU/6502/pbi-driver.o
/firmware/MCU/6502/vera_pbi_handler.bin
/firmware/MCU/6502/vera_pbi_handler.h
/firmware/MCU/6502/vera_pbi_handler.l
/firmware/MCU/6502/vera_pbi_handler.o
